.ajustes-forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.container-formularios{
    width: 90%;
    height: 10vh;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 5px 10px 20px 4px #63636349;
    cursor: pointer;
}