.formulario-login {
  display: flex;
  flex-direction: column;
  align-items: center;

  & input {
    border: solid 1px #f0f8ff;
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 2px;
    padding-left: 10px;
    font-size: 17px;
    margin-top: 10px;
    background-color: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color: #f0f8ff;
  }

  & input:focus {
    border: 1px solid #ec6e0c;
  }

  & input::placeholder {
    color: #f0f8ff;
  }
}

.posicao-central {
  width: 35vw;
  height: calc(100% - (57px));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & button {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: #ec6e0c;
    color: #f0f8ff;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
  }

  & h2 {
    margin-top: 10px;
    color: #f0f8ff;
  }

  & p {
    margin-top: 10px;
  }

  & span {
    cursor: pointer;
    font-weight: 600;
  }

  & p {
    color: #f0f8ff;
  }
}

.linha {
  border-bottom: solid 1px #f0f8ff;
  border-radius: 10px;
  margin: 10px auto 0 auto;
  width: 240px;
}

.cor-cadastro {
  color: #ec6e0c;
}

.fundo-login {
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
}

.separador {
  display: flex;
}

.cor-fundo-formulario {
  background-color: #2c2a2a;
  min-width: 400px;
}

@media screen and (max-width: 1100px) {
  .fundo-login {
    display: none;
  }

  .separador {
    display: flex;
    flex-direction: column;
  }

  body {
    background-color: #2c2a2a;
  }

  .cor-fundo-formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .posicao-central {
    width: 100vw;
  }
}
